@model ProyectoRedes.Models.CreateGame

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
</head>
<div class="form-container">
    <form class="form" asp-action="Create">

        <h5>Crear Partida</h5>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--<hr />-->
        <div class="form-group">
            <label asp-for="name">Nombre de la Partida:</label>
            <input asp-for="name" type="text" id="name" name="name" required="true">
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="owner">Dueño de la Partida:</label>
            <input asp-for="owner" type="text" id="owner" name="owner" required="true">
            <span asp-validation-for="owner" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="password">Contraseña de la Partida:</label>
            <input asp-for="password" type="password" id="password" name="password" required="">
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <button class="form-submit-btn" value="Create" type="submit">Jugar!</button>
        
    </form>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="owner" class="control-label"></label>
                <input asp-for="owner" class="form-control" />
                <span asp-validation-for="owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
-->
@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.message
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
