@model ProyectoRedes.Models.GetGameId

@{
    ViewData["Title"] = "GetRounds";
}

<h1>GetRounds</h1>

<h4>GetGameId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetRounds">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="gameId" class="control-label"></label>
                <input asp-for="gameId" class="form-control" />
                <span asp-validation-for="gameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player" class="control-label"></label>
                <input asp-for="player" class="form-control" />
                <span asp-validation-for="player" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (@ViewBag.response != null)
{
    <div>
        @ViewBag.response
    </div>

}
<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
