@model ProyectoRedes.Models.Player
@using ProyectoRedes.Models.Global

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<h1> Players </h1>
<div class="playersView">
@foreach(var item in Model.otherPlayers)
{
   
    <h2>@item.name</h2>
        @if(item.isEnemy == true)
        {
            <div class="enemy">

            </div>
        }
        else
        {
            <div class="player">
            </div>
        }


    }
</div>

@if (GlobalData.success3 == true)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="GetRounds">GetRounds</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="ProposeGroup">Group</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Vote">Vote</a>
    </li>
}