
@{
    ViewData["Title"] = "Lobby";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/lobby.css" asp-append-version="true" />
</head>
<body>
    <div class="card">
        <h2>Jugador: </h2>
        <h2>Juego: </h2>
        <h2>Total Jugadores: 5</h2>
        <button class="form-submit-btn" value="Create" type="submit">Iniciar Partida</button>
    </div>
</body>
</html>


