@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Index">Lobby</a>
        </li>
       
        @if (ViewBag.success != true)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Create">CreateGame</a>
            </li>
        }


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="GetGame">GetGame</a>
        </li>

        @if (ViewBag.success2 == true)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="GetGameMethod">Refresh</a>
            </li>

        }

        @if (ViewBag.success1 != true)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="JoinGame">JoinGame</a>
            </li>
        }

        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="StartGame">Start Game</a>
        </li>


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="GetRounds">GetRounds</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="ProposeGroup">Group</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Vote">Vote</a>
        </li>
        -->
    </ul>
</div>