@using ProyectoRedes.Models.Global
@{
    string username = TempData["Username"] as string;
}
<head>
    <link rel="stylesheet" href="~/css/options.css" asp-append-version="true" />
</head>
<div class="message-container">
    @if (!string.IsNullOrEmpty(username))
    {
        <h2>Bienvenido "@username". Selecciona el modo de juego</h2>
        <hr />
    }
</div>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    
    <ul class="navbar-nav flex-grow-1">

        @if (GlobalData.success2 == true)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Index">Lobby</a>
            </li>
        }
       
        @if (GlobalData.success != true)
        {
                <a data-text="Awesome" class="button" asp-area="" asp-controller="Game" asp-action="Create">
                    <span class="actual-text">&nbsp;1. Crear un Juego&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;1. Crear un Juego&nbsp;</span>
                </a>
               <!-- <a class="optionstyle" asp-area="" asp-controller="Game" asp-action="Create">1. Crear un Juego</a>-->
            <br />
        }
            <a data-text="Awesome" class="button" asp-area="" asp-controller="Game" asp-action="GetGame">
                <span class="actual-text">&nbsp;2. Ver los juegos&nbsp;</span>
                <span class="hover-text" aria-hidden="true">&nbsp;2. Ver los juegos&nbsp;</span>
            </a>
        <br />
            <!--<a class="optionstyle" asp-area="" asp-controller="Game" asp-action="GetGame">2. Ver todos los juegos</a>-->
        
        
        @if (GlobalData.success2 == true)
        {
            <li class="nav-item">
                
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="GetGameMethod">Refresh</a>
            </li>

        }

        @if (GlobalData.success1 != true)
        {
            <a data-text="Awesome" class="button" asp-area="" asp-controller="Game" asp-action="JoinGame">
                <span class="actual-text">&nbsp;3. Unirme a una partida&nbsp;</span>
                <span class="hover-text" aria-hidden="true">&nbsp;3. Unirme a una partida&nbsp;</span>
            </a>
            <br />
        }
         @if (GlobalData.success2 == true)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="StartGame">Start Game</a>
            </li>
        }
        @if(GlobalData.success3 == true){
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="GetRounds">GetRounds</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="ProposeGroup">Group</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Vote">Vote</a>
            </li>
            }
       
        
    </ul>
</div>